<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Anton|Roboto|Josefin+Sans&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/countries/navbar.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">

<title>Countries</title>

</head>

<body>
    <div class="cursor"></div>
    <div class="cursor-clone"></div>


    <div class="toggle">
        <span class="span"></span>
        <span class="span"></span>
        <span></span>
    </div>
    
    <h1 id="countryHeader">{{result.0.dataValues.continent}}</h1>


    <div class="container-fluid modal">
        <div class="row">
            <div class="col-lg-2 nav-options-col">
                <div id="nav-options">
                    
                    <span class="userSpan"></span>
                        <a class="animTarget" id="user-profile" href="/profile">{{name}}</a>
                    <span class="userSpan user"></span>

                    <span class="homeSpan"></span>
                        <a class="animTarget" id="home-option" href="/">Home</a>
                    <span class="homeSpan aboutSpan"></span>
                        <a class="animTarget" id="about-us" href="/aboutus">About</a>
                    <span class="portSpan aboutSpan"></span>
                        <a class="animTarget" id="portfolio" href="/portfolio">Portfolio</a>
                    <span class="portSpan"></span>

                </div>
            </div>
            <div id="nav-container" class="col-lg-10 colp">
                <div id="navbar">

                </div>

                <div id="country-imgs-div">
                    {{#each result}}
                    <a href="#{{country}}">
                        <div class="country-imgs parallax" style="background-image: url('img/{{country}}.jpg')">
                            <h1 class="nav-img-headers">{{country}}</h1>
                        </div>
                    </a>
                    {{/each}}
                    </ul>
                    </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    {{#each result}}

    <div id="{{country}}" class="parallax hidden" style="background-image: url('img/{{dataValues.country}}.jpg')">

        <div class="cityHeader">
            <h2 data-aos-anchor-placement="#{{country}}Anchor" data-aos="fade-up" data-aos-duration="1000"
                data-aos-once="false">{{country}}</h2>
        </div>
    </div>

    <div class="info p-5" style="background-image: url('img/parchmentback.jpg')">
        <div class="row">
            <div class="col-xs col-sm col-md col-lg">

            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-1">
                <button type="button" class="btn btn-info btn1">Best Activities</button>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-1">
                <button type="button" class="btn btn-info btn2">Most Popular</button>


            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-1">
                <button type="button" class="btn btn-info btn3">Facts & Info</button>

            </div>
            <div class="col-xs col-sm col-md col-lg">

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 show1 pt-3">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h5><span class="bullets">{{activity_name}}</span></h5>
                            <p>{{activity_description}}</p>
                            <p>Visit here for more: <a href="{{activity_media_url}}"
                                    target="_blank">{{activity_media_url}}</a></p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
                            <img class="rounded actImg" src="imgs/activities/{{country}}/{{activity_name}}.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 show2 pt-3">
                    <p><span class="bullets">Foods: </span>{{foods}}</p>
                    <p><span class="bullets">Religions: </span>{{religions}}</p>
                    <p><span class="bullets">Time to visit: </span>{{bty}}</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 show3 pt-3">
                    <p>{{fun_fact}}</p>
                    <p>{{brief_history}}</p>
                    <p>{{facts}}</p>
                </div>

            </div>
        </div>
    </div>

    {{/each}}

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>



    <script src="js/countries/apiCountry.js"></script>
    <script src="js/countries/nav.js"></script>
    <script src="js/countries/country.js"></script>
</body>