<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/countries/navbar.css">

<title>Countries</title>

</head>

<body>

<<<<<<< HEAD

    <div id="nav-box">
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li id="li">Countries</li>
            <ul id="country-list">
                {{#each result}}
                <li><a href="#{{country}}">{{country}}</a></li>
                {{/each}}
            </ul>
        </ul>
    </nav>
=======
    <div id="nav-box">
    </div>
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li id="li">Countries</li>
                    <ul id="country-list">
                        {{#each result}}
                            <li><a href="#{{country}}">{{country}}</a></li>
                        {{/each}}
                    </ul>
            </ul>
        </nav>
>>>>>>> dc4bacef2d243c7c3769fa58b3645d33fcccadb2

    {{#each result}}

    <div class="parallax hidden" style="background-image: url('img/{{dataValues.country}}.jpg')">

        <div id="{{country}}" class="cityHeader">
            <h1>{{country}}</h1>
        </div>
    </div>

    <div class="info p-5" style="background-image: url('img/parchmentback.jpg')">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-info btn1"><span class="bullets">Best Activities</span></button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-info btn2"><span class="bullets">Most Popular</span></button>


            </div>
            <div class="col-4">
                <button type="button" class="btn btn-info btn3"><span class="bullets">Fact & Info</span></button>

            </div>
            <div class="row">
                <div class="col-12 show1 pt-3">
                    <p>Stuff about activities</p>
                </div>
                <div class="col-12 show2 pt-3">
                    <p><span class="bullets">Foods: </span>{{foods}}</p>
                    <p><span class="bullets">Religions: </span>{{religions}}</p>
                    <p><span class="bullets">Time to visit: </span>{{bty}}</p>
                </div>
                <div class="col-12 show3 pt-3">
                    <p>{{fun_fact}}</p>
                    <p>{{brief_history}}</p>
                    <p>{{facts}}</p>
                </div>

            </div>
        </div>
    </div>

    {{/each}}



    <script src="js/countries/nav.js"></script>
    <script src="js/countries/country.js"></script>
</body>