
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/profile/profile.css">
<link rel="stylesheet" href="css/cursor.css">
<link rel="stylesheet" href="css/nav.css">


<title>{{name}}</title>

</head>

<body>

    <div class="cursor"></div>
    <div class="cursor-clone"></div>

    <div class="toggle">
        <span class="span"></span>
        <span class="span"></span>
        <span></span>
    </div>

    <div id="nav-options-col">

        <div id="nav-modal">

            <span class="homeSpan"></span>
                <a id="home-option" href="/">Home</a>
            <span class="homeSpan aboutSpan"></span>
                <a id="about-option" href="/about">About</a>
            <span class="portSpan aboutSpan"></span>
                <a id="portfolio" href="/portfolio">Portfolio</a>
            <span class="portSpan"></span>

        </div>

    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="row">
                    <div class="col-lg-12 settings-options-top">

                        <div id="settings-options-div">

                            <h6 id="user-info">User info</h6>
                            <h6 id="pass-option">Change password</h6>
                            <h6 id="email-option">Change email</h6>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 settings-options-bottom"></div>
                </div>
            </div>

            <div class="col-lg-8 col-md-10 col-sm-10 col-10 setting-display-col">
                
                <h1 id="welcome-user">{{name}}</h1>
                
                <div id="settings-modal">

                    <p id="close-btn-wrapper"><i class="close-btn fas fa-2x fa-times"></i></p>
                    <h5 id="modal-msg">Your password has successfully been updated!</h5>

                </div>

                <div id="settings-display">

                    <h3 class="user-info" id="email-display-header">Email:</h3>
                        <h6 class="user-info" id="email-display">{{email}}</h6>

                    <h3 class="user-info" id="first-joined-header">First joined:</h3>
                        <h6 class="user-info" id="first-joined">{{createdAt}}</h6>

                    <form id="password-confirm">
                        <label id="pass-confirm-err"></label>
                        <label>Please confirm your password</label>
                            <input type="password" id="pass-confirm-input" placeholder="Confirm password here...">
                            <input type="submit" id="pass-confirm-submit" class="submit-btn" value="Submit">
                    </form>

                    <form id="password-change">
                        <label id="pass-update-err"></label>
                        <label>What will be your new password?</label>
                            <input type="password" id="pass-update-input">
                        <label>Please confirm your new password</label>
                            <input type="password" id="pass-update-confirm">
                            <input type="submit" id="pass-update-submit" class="submit-btn" value="Submit">
                    </form>

                    <form id="email-confirm">
                        <label id="email-pass-confirm"></label>
                        <label>Please confirm password first</label>
                            <input type="password" id="email-confirm-input" placeholder="Please confirm password here...">
                            <input type="submit" id="email-confirm-submit" class="submit-btn" value="Submit">
                    </form>

                    <form id="email-change">
                        <label>What will be your new email?</label>
                            <input type="email" id="email-update-input" placeholder="{{email}}">
                            <input type="submit" id="email-update-submit" class="submit-btn" value="Submit">
                    </form>

                </div>
            </div>

            <div class="col-lg-2 col-md-0 col-sm-0 col-0"></div>
        </div>
    </div>

<script src="js/cursor.js"></script>
<script src="js/profiles/profileForms.js"></script>
<script src="js/nav.js"></script>
</body>