
<title>Countries</title>

</head>

<body>

<div class="parallax" style="background-image: url('img/london.jpg')">
    <div class="cityHeader">
        <h1>{{country}}</h1>
    </div> 
</div>
<div class="info p-5" style="background-image: url('img/extra_clean_paper.png'">
    <p>{{capital}}</p>
    <p>{{population}}</p>
    <p>{{languages}}</p>
    <p>{{currency}}</p>
    <p>{{bty}}</p>
    <p>{{foods}}</p>
    <p>{{religions}}</p>
    <p>{{history}}</p>
    <p>{{facts}}</p>
    <p>{{fun_fact}}</p>
</div>

</body>